/* Cookie CSS */

@use 'responsive';
@use 'variables'as var;

.cookiealert {
    position: fixed;
    background-color: var.$dark;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease;
    padding: 1rem 1.5rem;

    @media #{responsive.$breakpoint-sm} {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        font-size: 1rem;
        color: var.$white;
        margin-right: 1.5rem;

        @media #{responsive.$breakpoint-sm} {
            margin-right: 1.5rem;
            margin-bottom: 0;
        }

        a {
            color: var.$warning;
            font-weight: 700;
        }
    }

    .btn {
        @media #{responsive.$breakpoint-sm} {
            flex: 0 0 170px;
            width: 170px;
            max-width: 170px;
        }
    }

    &.show {
        opacity: 1;
        transform: translateY(0%);
        transition-duration: 800ms;
    }
}