/* Error CSS */

@use 'responsive';
@use 'variables'as var;

.saasbox-error-area {
    text-align: center;

    h5 {
        font-size: 1.5rem;

        @media #{responsive.$breakpoint-lg} {
            font-size: 2rem;
        }
    }
}