<div class="outlook-sidebar">
  <div class="sidebar-apps">
    <button 
      *ngFor="let app of apps"
      class="app-button"
      [class.active]="currentMode === app.id"
      (click)="onAppClick(app.id)"
      [title]="app.name">
      
      <svg class="app-icon" width="20" height="20" viewBox="0 0 20 20">
        <!-- Mail Icon -->
        <ng-container *ngIf="app.icon === 'mail'">
          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" fill="currentColor"/>
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" fill="currentColor"/>
        </ng-container>
        
        <!-- Calendar Icon -->
        <ng-container *ngIf="app.icon === 'calendar'">
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h6V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" fill="currentColor"/>
        </ng-container>
        
        <!-- People Icon -->
        <ng-container *ngIf="app.icon === 'people'">
          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.547A3.39 3.39 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" fill="currentColor"/>
        </ng-container>
      </svg>
      
      <span class="app-name">{{ app.name }}</span>
    </button>
  </div>
</div>
