<footer class="py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h5 class="fw-bold text-primary">{{ 'logo-title' | translate }}</h5>
        <p class="text-muted">{{ 'footer.mission' | translate }}</p>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-4 mb-lg-0">
        <h5 class="mb-3">{{ 'footer.links_title' | translate }}</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#features" class="text-white text-decoration-none">{{ 'nav.features' | translate }}</a></li>
          <li class="mb-2"><a href="#categories" class="text-white text-decoration-none">{{ 'nav.categories' | translate }}</a></li>
          <li class="mb-2"><a href="#impact" class="text-white text-decoration-none">{{ 'nav.impact' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-4 mb-lg-0">
        <h5 class="mb-3">{{ 'footer.legal_title' | translate }}</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/about" class="text-white text-decoration-none">{{ 'footer.about' | translate }}</a></li>
          <li class="mb-2"><a href="/privacy" class="text-white text-decoration-none">{{ 'footer.privacy' | translate }}</a></li>
          <li class="mb-2"><a href="/terms" class="text-white text-decoration-none">{{ 'footer.terms' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5 class="mb-3">{{ 'footer.try_title' | translate }}</h5>
        <p class="text-muted">{{ 'footer.try_text' | translate }}</p>
        <a class="btn btn-primary" href="/demo">{{ 'footer.try' | translate }}</a>
      </div>
    </div>
    <hr class="my-4">
    <p class="text-center text-muted small">&copy; {{ 'footer.copyright' | translate }}</p>
  </div>
</footer>
